@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');
@import "tailwindcss";

@theme {
  --color-neon-cyan: #00f3ff;
  --color-neon-purple: #bc13fe;
  --color-neon-blue: #0066ff;
  --color-dark-bg: #050505;
  --color-dark-card: #101010;
  --font-sans: 'Inter', sans-serif;
}

@layer base {
  body {
    background-color: var(--color-dark-bg);
    color: white;
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
  }
}